{% extends 'base.html' %}
{% block content %}


    {% if utility_type %}
        <p>You are checking: {{ utility_type }} utility</p>
    {% else %}
        <p>No utility selected.</p>
    {% endif %}
    <form method="post" >
        {% csrf_token %}
        <div class="mb-3" >
            <label for="qaz_id" class="form-label">abunent kodunu daxil edin</label>
            <input type="text" class="form-control" id="utility" name="utility_id" style="width: 300px">
        </div>

        <button type="submit" class="btn btn-primary">davam et</button>
    </form>

{% endblock %}